# Swap files
*.swp

# package lock file
package-lock.json

# Deployable package zip
index.zip

# Dependency directories
src/node_modules/
# Demo directory
prepared/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
